@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 12px;
  }
}


body {
    margin: 0;
    font-family: 'Montserrats', sans-serif;
    color: #fff;
}

#loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9; /*change it last*/
    background-color: #fff;
    z-index: 99;
}

#loading img {
    z-index: 100;
    width: 300px;
}

@media (max-width: 600px) {
    #loading img {
        width: 150px;
    }
}

header {
    height: 100vh;
    position: sticky; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header::before {
    content: "";
    background-image: url(media/the-concert.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    animation-name: hero;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: transform;
    z-index: -1;
}

@keyframes hero {
    0% {
        transform-origin: 50%;
        transform: scale3d(1,1,1);
    }
    
    50% {
        transform-origin: 10%;
        transform: scale3d(1.1,1.1,1);
    }
    
     75% {
        transform-origin: 90%;
        transform: scale3d(1.2,1.2,1);
    }
    
     100% {
        transform-origin: 20%;
        transform: scale3d(1.3,1.3,1);
    }
}

#nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s;
}

#hamburgernav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;   
    }

#hamburgernavlink {
    list-style-type: none;
    margin: 0;
    padding: 4rem 0 0 0;
    background-image: url(media/favicon/favicon-32x32.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#hamburgernavlink a {
    color: #bbb;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.2rem;
    transition: all 0.3s;
}

#hamburgernavlink a:hover {
    color: #fff;
    transform: scale(1.3);
}

#hamburgernavsocial {
    list-style: none;
    display: flex;
    padding: 0;
}

@media (max-width:900px) {
    #nav {
        display: none;
    }
    
    #hamburger {
        position: absolute;
        width: 60px;
        height: 45px;
        top: 1rem;
        right: 1rem;
        transform: scale(0.8);
        cursor: pointer;
    }

    #hamburger span {
        display: block;
        width: 100%;
        height: 9px;
        background-color: #FFF;
        position: absolute;
        border-radius: 9px;
        transition: all 0.2s;
    }

    #hamburger span:nth-child(1) {
        top: 0;
    }

    #hamburger span:nth-child(2),
    #hamburger span:nth-child(3) {
        top: 18px;
    }

    #hamburger span:nth-child(4) {
        top: 36px;
    }

    #hamburger.open span:nth-child(1),
    #hamburger.open span:nth-child(4) {
        top: 18px;
        opacity: 0;
    }

    #hamburger.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    #hamburgernav.show {
        opacity: 1;
        visibility: visible;
    }

    #headline.hide, #discoverbtn.hide, #logo.hide {
        opacity: 0;
        visibility: hidden;
    }  
}

#navlogo {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 200px;
    padding: 0;
}

@media (max-width:1100px) {
    #navlogo {
        margin-right: 0;
    }
}

#navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#navlink a {
    display: block;
    text-decoration: none;
    color: #bbb;
    text-align: center;
    padding: 15px 25px;
    transition: all 0.3s;
}

#navlink a:hover {
    color: #fff;
    transform: scale(1.4);
}

.icon {
    color: #bbb;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
    transition: all 0.3s;
}

#navsocial {
    display: flex;
    padding: 0;
    margin-right: 25px;
    list-style: none;
}

.icon:hover {
    transform: scale(1.5) rotate(360deg);
}

.facebook:hover {
    color: #3b5998;
}

.instagram:hover {
    color: #f4a818;
}

.youtube:hover {
    color: #f00;
}

.twitter:hover {
    color: #55acee;
}

#logo {
    width: 130px;
    height: 130px;
    margin-top: 100px;
    margin-bottom: -150px;
    border-radius: 50%;
    border-style: double;
    border-color: #bbb; 
}

@media (max-width: 900px) {
    #logo {
        transform: scale(0.8);
    }
}

h1 {
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-top: 160px;
    letter-spacing: 10px;
    transition: visibility 0.4s, opacity 0.8s;
}

h1 span {
    display: block;
    white-space: nowrap;
}

h1 span:first-child {
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 10px;
}

h1 span:last-child {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    font-style: italic;
}

@media (max-width: 1400px) {
    h1 {
        transform: scale(0.8);
    }
}

@media (max-width: 600px) {
    h1 {
        transform: scale(0.5);
    }
}

@media (max-width: 380px) {
    h1 {
        transform: scale(0.4);
    }
}

#discoverbtn {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    border: 1px solid #FFF;
    padding: 28px 42px;
    transition: all 0.4s;
    z-index: 5;
}

#discoverbtn:hover {
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.8);
}

main {
    position: relative;
    background-color: #1a1a1a;
    padding: 6rem 2rem 0 2rem;
}

p {
    margin: 0;
    text-align: center;
}

section {
    padding-bottom: 6rem;
}

h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.3px;
    background-image: url(media/logo-piano.png);
    background-size: 53px 55px;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 4rem 0 1rem 0;
}

@media (max-width:600px) {
    h2 {
        padding-top: 5rem;
        transform: scale(0.8);
    }
}

#biography {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    
    #biography div {
        flex-direction: column;
        max-width: 900px;
    }
    
    #biography img {
        width: 250px;
        height: 250px;
    }
    
    #biography div:nth-child(3), #biography div:nth-child(4) {
        display: none;
    } 
}

@media (max-width: 400px) {
    #biography div {
       max-width: 300px;
    }
}
 
#biography div {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

#biography img {
    display: block;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 0 25px 20px rgba(0,0,0,0.5);
    margin: 0 3rem 3rem 3rem;
}

@media (max-width: 1200px) {
    #biography img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 600px) {
    #biography img {
        width: 200px;
        height: 200px;
    }
}

#biography p {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    color: #aaa;
    transition: all 0.3s;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    max-width: 1200px;
    padding-top: 25px;
    margin: 0 auto;
    position: relative;
}

#grid img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

#grid .container {
    position: relative;
    display: flex;
    align-content: center;
    width: 100%;
}

#grid .middle {
    transition: 0.3s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -500px;
    text-align: center;
}

@media (max-width:900px) {
    #grid .middle {
        margin-top: -450px;
    }
}

@media (max-width:600px) {
    #grid .middle {
       display: none;
    }
}

#grid .container:hover {
    transform: scale(0.9);
    box-shadow: 0 0 25px 10px #fff;
}

#grid .container:hover img {
    opacity: 0.3;
}

#grid .container:hover .middle {
    opacity: 1;
}

#grid .container .title {
    background-color: #1a1a1a;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 16px 32px;
    transition: 0.3s ease;
}

@media (max-width:900px) {
    #grid .container .title {
        font-size: 15px;
    }
}

#grid .container .title:hover  {
    background-color: #fff;
    color: #1a1a1a;
} 

#grid div {
    transform: translate(0,8rem);
    opacity: 1;
}

#grid div:nth-child(odd) {
    transition: transform 0.5s, opacity 1.5s;
}

#grid div:nth-child(even) {
    transition: transform 1s, opacity 2.5s;
}

#grid div.up {
    transform: translate(0,0);
    opacity: 1;
}

audio {
    display: block;
    margin: 1rem auto 0 auto;
    outline: none;
}

@media (max-width: 600px) {
    audio {
        transform: scale(0.8);
    }
}

#streambtns {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    #streambtns {
        flex-direction: column;
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    #streambtns {
        max-width: 250px;
    }
}

#streambtn img {
    display: block;
    width: 3rem;
}

#streambtns a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    padding: 12px 14px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1rem;
    transition: all 0.4s;
}

@media (max-width: 900px) {
    #streambtns a {
        flex-direction: column;
        align-content: center;
    }
}

#streambtns a div:first-child {
    margin-right: 14px;
}

@media (max-width: 900px) {
    #streambtns a div:first-child {
        margin-right: 0;
    }
}

#streambtns a div:last-child {
   white-space: nowrap;
}

#streambtns a:hover {
    transform: scale(1.2);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    max-width: 600px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s;
}

@media (max-width: 600px) {
    form {
    transform: scale(0.8);
    transition: all 0.3s;
    }  
}

form:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    form:hover {
    transform: scale(0.9);
    } 
}

label {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.required {
    color: red;
}

input, select {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

input:focus, select:focus {
   box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
}

#email-input, select {
    display: block;
    flex-grow: 1;
    width: 300px;
    height: 35px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

select {
    margin-bottom: 30px;
    color: #B2BBC3;
    cursor: pointer;
}

form option {
    background-color: #1a1a1a;
}

form span {
    display: block;
    font-weight: 400;
}


#submit, #cancel {
    margin: 12px;
    outline: none;
    padding: 12px 25px;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3;
    background-color: #111;
    border: 1px solid #585858;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

#submit:hover, #cancel:hover {
    transform: scale(1.1);
    background-color: #2e2e2e;
}


#footer {
    position: absolute;
    background-color: #000;
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #footer-social, #footer p {
        transform: scale(0.8);
    }
}

#footer-social {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer-social .icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

#footer p {
    color: #bbb;
    text-transform: uppercase;
    font-size: 15px;
}
